{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>D-medical AI</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		
        <div class="flex flex-col bg-blue-950 bg-opacity-90 justify-center font-[sans-serif] text-[#333] h-screen p-4">
            <div class="max-w-md w-full mx-auto border bg-white border-gray-300 rounded-md p-6">
              <div class="text-center mb-3">
                <a href="{% url 'base' %}" class="items-center text-2xl font-semibold text-blue-900"><img
                  src="static/images/logo.png" alt="logo" class='h-12 m-2 inline-block' />D-medical AI
                </a>
              </div>
              <form method="post">
                {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-red-500 text-center">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                <div class="space-y-6">
                  <div>
                    <label for="username"  "text-sm mb-2 block">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" required class="bg-white border border-blue-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500" />
                  </div>
                  <div>
                    <label for="Passeword" class="text-sm mb-2 block">Password</label>
                    <input type="password" id="password" name="password" placeholder="..............." required class="bg-white border border-blue-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500"/>
                  </div>
                  <div class="flex items-center">
                   <label for="remember-me" class="ml-3 block text-sm">
                      Mot de passe oublie? <a href="{% url 'reset' %}" class="text-blue-600 font-semibold hover:underline ml-1">Changez le</a>
                    </label>
                  </div>
                </div>
                <div class="!mt-8">
                  <button type="submit" class="w-full py-3 px-4 text-sm font-semibold rounded text-white bg-blue-900 hover:bg-blue-600 focus:outline-none">
                    Connexion
                  </button>
                </div>
                <p class="text-sm mt-6 text-center">avez-vous un compte? <a href="{% url 'register' %}" class="text-blue-600 font-semibold hover:underline ml-1">Inscription</a></p>
              </form>
            </div>
          </div>
	</body>
</html>